@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
  /* Primary Colors */
  --color-moderate-blue: hsl(238, 40%, 52%);
  --color-soft-red: hsl(358, 79%, 66%);
  --color-light-grayish-blue: hsl(239, 57%, 85%);
  --color-pale-red: hsl(357, 100%, 86%);

  /* Neutral Colors */
  --color-dark-blue: hsl(212, 24%, 26%);
  --color-grayish-blue: hsl(211, 10%, 45%);
  --color-light-gray: hsl(223, 19%, 93%);
  --color-very-light-gray: hsl(228, 33%, 97%);
  --color-white: hsl(0, 0%, 100%);

  /* Font Sizes */
  --font-size-regular: 16px;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: var(--font-size-regular);
  background-color: var(--color-very-light-gray);
}
/* Mobile first design */

article {
  background-color: var(--color-white);
  padding: 1rem;
}


button {
  border: none; 

}
.comment-header {
  display: flex; 
  align-items: center;
}
.comment-header img {
  width: 2rem;
  height: 2rem; 
}
.comment-header h2 {
  font-size: .9rem;
  font-weight: 700;
  color: var(--color-dark-blue);
}
.comment-header span {
  color: var(--color-grayish-blue);
}
.comment-header h2, .comment-header img {
  margin-right: 1rem;
}
.comment-content p {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--color-grayish-blue);
}


.comment-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-upvotes {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-around;
  width: 100px;
  background-color: var(--color-light-gray);
  color: var(--color-moderate-blue);
  border-radius: 10px;
}

.comment-upvotes p {
  font-weight: 500;
}

.comment-reply {
  display: flex; 
  align-items: center;
  margin-top: 1rem; 
}

.comment-reply button {
  background-color: white;
  color: var(--color-moderate-blue);
}

.comment-reply span {
  color: var(--color-grayish-blue);
  margin-left: .5rem;
  font-weight: 500;
}